@page
@model Forum.Pages.Topics.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Topic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.User!.Id) @* гарантираме с ! че User не е null *@
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Topic.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
